
/****************************************************/
/* ID dependant classes
 * 
 * Rules for ID dependant classe, i.e #id .class {}
 * are found here.
 *
/****************************************************/

 #login-welcome {
     /* background-color: red; */
     font-size: 40px;
     /* width: 50%; */
 }
 /* #login-container { */
 /*     background-color: blue; */
 /*     /1* width: 50%; *1/ */
 /* } */


.auth-form-content {
    padding: 15%;
}

.auth-form-content > div {
    padding: 1%;
}


