/****************************************************/
/* General tags and classes
 * 
 * Rules for tags and non-positional classes
 * are found here.
*/
/****************************************************/
.slider-active {
    stroke: orange;
    stroke-width: 2px;
}

.food-amt-units {
    font-size: 15px;
    height: 80%;
}

.food-container {
    background-color: lightblue;
    display: flex;
    flex-direction: column;
    height: 100%;
    margin-left: 5px;
    width: 20%;
}

.food-container-header {
    height: 15%;
    margin-left: 10px;
    font-size: 20px;
}

.food-container-bars {
    display: flex;
    justify-content: end;
    height: 80%;

}

.food-container-footer {
    height: 15%;
    margin-left: 15px;
    font-size: 20px;
}

.food-macro-svg-container {
    height: 100%;
    width: 25%;
}

.food-macro-svg {
    margin-left: 5%;
}

.item {
    width: 50px;
}

.macro-bar-container {
    height: 100%;
    padding-right:3px;
    width: 20%; 
}

.macro-bar-svg {
    height: 90%;
    width : 100%;
}
/****************************************************/
/* Positional tags and classes
 * 
 * Rules for positional classes (header, content, footer)
 * are found here.
 *
/****************************************************/
.sidebar {
    grid-area: sb;
}
.macro-area {
    background-color: yellow;
    grid-area: m;
}
.search-area {
    grid-area: s;
    overflow: auto;
}
.food-area {
    grid-area: in;
}


/****************************************************/
/* ID specific 
 * 
 *
/****************************************************/

#goal-meal-macros-container {
    display: grid;
    grid-gap:5px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
}

#goal-macros-bar-content { 
    height: 85%;
}

#goal-macros-bar-footer {
    height: auto;
}

#meal-maker-container {
    height: 100%;
    width: 100%;
    display: grid; 
    grid-gap: 3px;
    grid-template-columns: repeat(12,1fr);
    grid-template-rows: auto 50%;
    grid-template-areas:
        "sb m m m m m m m m s s s"
        "in in in in in in in in in in in in";
}

#meal-maker-food-container {
    display:flex;
    flex-direction: column;
}


#meal-maker-food-header {
    height: 10%;
}

#meal-maker-food-content {
    /*flex: 1; */
    display: flex;
    height: 80%;
}

#tdee {
    color: blue;
}

