
/****************************************************/
/* General tags and classes
 * 
 * Rules for tags and non-positional classes
 * are found here.
*/
/****************************************************/

html, body {
    /* Display & Box Model */
    display: border-box;
    box-sizing: border-box;
    ms-box-sizing: border-box;
    webkit-box-sizing: border-box;
    mox-box-sizing: border-box;
    height: 100vh; 
    margin: 0;
    /* Style */
    background-color: #e9e1cf;
    font-family: "Philosopher"; 
}

a {
    text-decoration:none;
}

.btn {
    background-color: #ca365d;
    border: none;
    border-radius: 10px;
    color: #f9e34b;
    cursor: pointer;
    font-family: "Philosopher"; 
    font-size: 20px;
    font-weight: bold;
    padding: 10px;
}

.btn:disabled {
    background-color: gray;
    cursor: default;
}

.form-error {
    color: red;
}

.headline {
    padding 3px; 
    font-weight: bold;
}

.headline--md {
    font-size: 30px;
}

.input__input {
    /* Display & Box Model */
    border-radius: 10px;
    height: 30px;
    padding-left: 5px;
}

.input__input--sm {
    /* Display & Box Model */
    width: 75px;
}

.input__input--md {
    /* Display & Box Model */
    width: 115px;
}

.input__input--lg {
    /* Display & Box Model */
    width: 250px;
}

.input__label {
    /* Style */
    color: #f9e34b;
    font-size: 20px;
}

.input__label-black {
    /* Style */
    font-size: 20px;
}

/* Modal Background */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    /* background-color: rgb(0,0,0); /1* Fallback color *1/ */
    /* background-color: rgba(0,0,0,0.4); /1* Black w/ opacity *1/ */
}


/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
}

/* The Modal Close Button */
.close-modal {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.radio-input__label {
    /* Style */
    color: #f9e34b;
    font-size: 20px;
}

.radio-input__input {
    /* Display & Box Model */
    height:2em;
    width:2em;
}

.table-like__cell--header {
    /* Display & Box Model */
    text-align: center;
}

.text-box {
    /* Display & Box Model */
   flex-wrap: nowrap;
   padding:5px;
}

.text-box__text {
    /* Style */
    color: #f9e34b;
    font-size:25px;
}

.text--color-alert {
    /* Style */
    color: red !important;
}

.text--primary {
    /* Style */
    color: #f9e34b;
    font-size:25px;
}

.text--highlight {
    /* Style */
    color: #ca365d;
    font-size:35px;
}

.text--label {
    /* Style */
    color: #f9e34b;
    font-size: 20px;
}


/****************************************************/
/* Positional tags and classes
 * 
 * Rules for positional classes (header, content, footer)
 * are found here.
 *
/****************************************************/

.container {
    /* Display & Box Model */
    height: 100%;
}

.header {
    /* Display & Box Model */
    display: flex;
    height:10%;
    justify-content: space-between;
    width: 100%;
    /* Style */
    background-color: #0d1650;
}

.header__nav {
    /* Display & Box Model */
    display: flex;
    height: 100%;
}

.header__nav-tab {
    /* Display & Box Model */
    padding: 10px;
    /* Style */
    color: #f9e34b;
    font-size: 25px;
}

.disabled {
    background-color: gray;
    color: white;
    cursor: default;
}


.header__nav-tab:hover,.header__nav-tab.active {
    /* Style */
    background-color: #ca365d;
}

.page-content {
    /* Display & Box Model */
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 20px;

}

.content {
    /* Display & Box Model */
    height:90%;
    /* Style */
    /* border: 9px solid red; */
}

.content-box {
    /* Display & Box Model */
    padding: 5px;
    margin: 5px;
    /* Style */
    background-color: #0d1650;
}

.content-box__header {
    /* Display & Box Model */
    padding: 5px;
    /* Style */
    border-bottom: 3px solid #e4b93f;
    color: #e9e1cf;
    font-size: 25px;
}


/****************************************************/
/* Layout classes
 * 
 * Rules for layout classes
 * are found here.
 *
/****************************************************/
/* Layout */
.l-flex--col-start {
    /* Display & Box Model */
    display: flex;
    justify-content: start;
    flex-direction: column;
    /* padding: 5px; */
}

.l-flex--col-btw {
    /* Display & Box Model */
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    /* padding: 5px; */
}

.l-flex--col-end {
    /* Display & Box Model */
    display: flex;
    justify-content: end;
    flex-direction: column;
    /* padding: 5px; */
}

.l-flex--row-btw {
    /* Display & Box Model */
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    /* padding: 5px; */
}

.l-flex--row-start {
    /* Display & Box Model */
    display: flex;
    justify-content: start;
    flex-direction: row;
    /* padding: 5px; */
}

.l-flex--center {
    /* Display & Box Model */
    display: flex;
    justify-content: center;
    align-items: center;
    /* padding: 5px; */
}

/* Modifiers */
.hide {
    position: absolute;
    top: -9999px;
    left: -9999px;
}
/****************************************************/
/* Box model classes
 * 
 * Rules for box-model classes
 * are found here.
 *
/****************************************************/

 .bm-margin--sm-top {
     margin-top: 5px;
 }

 .bm-margin--md-top {
     margin-top: 15px;
 }

 .bm-margin--sm-right {
     margin-right: 5px;
 }

 .bm-margin--md-right {
     margin-right: 15px;
 }
