<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="ID=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Meal Lab</title>
		<link href="/static/bootstrap/css/bootstrap.min.css" rel="stylesheet">
	</head>
	<body>
		<div id='id_header_bar'>
			{% if user.is_authenticated and user.get_username != 'guest' %}
				{{ user }}
				<a id="id_logoff" type="button" href="/meals/logging_off/">Logoff</a>
			{% else %}
				<a id="id_sign_up" type="button" href="/meals/sign_up/">Sign up</a>
				<!--this is supposed to go to /loggin_off so that the guest user gets logged of and page
				gets redirected to the login page-->
				<a id="id_login" type="button" href="/meals/logging_off">Login</a>
			{% endif %}
		</div>
		{% block body %}
		{% endblock %}		

		<script src="http://code.jquery.com/jquery.js"></script>
		<script src="/static/bootstrap/js/bootstrap.min.js"></script>
		<script src="/static/meals.js"></script>
		<script>
			hide_home_header_on_tab_select();
			key_press_hides_error();
			get_my_macros_page_content();
			get_meal_maker_page_content();
		</script>
	</body>
</html>
