{% extends 'base.html' %}
{% block body %}
<ul class="nav nav-tabs">
	<li id="id_my_macros_tab_label"><a data-toggle="tab" href="#id_my_macros_tab">My Macros</a></li>
	<li id="id_meal_maker_tab_label"><a data-toggle="tab" href="#id_meal_maker_tab">Meal Maker</a></li>
	<li id="id_my_meals_tab_label"><a data-toggle="tab" href="#id_my_meals_tab">My Meals</a></li>
	<li id="id_add_recipes_tab_label"><a data-toggle="tab" href="#id_add_recipes_tab">Add Recipes</a></li>
	<li id="id_add_food_tab_label"><a data-toggle="tab" href="#id_add_food_tab">Add Food to Database</a></li>
</ul>

<div class="tab-content">
	<div id="id_my_macros_tab" class="tab-pane">
		<div id="id_my_macros_form_container"></div>
	</div>
	<div id="id_meal_maker_tab" class="tab-pane">
		<div id="id_meal_maker_container"></div>
	</div>
	<div id="id_my_meals_tab" class="tab-pane">
		<h1 id="id_my_meals_headline">My Meals</h1>
	</div>
	<div id="id_add_recipes_tab" class="tab-pane">
		<h1 id="id_add_recipes_headline">Add Recipes</h1>
	</div>
	<div id="id_add_food_tab" class="tab-pane">
		<h1 id="id_add_food_headline">Add New Food to Database</h1>
	</div>
</div>
<h1 id='id_home_headline'>Meal Lab</h1>
{% endblock %}

