<html>
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="ID-edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">

		<title>Meal Lab Login</title>
		<link href="/static/bootstrap/css/bootstrap.min.css" rel="stylesheet">

	</head>
	<style>
		a.button {
			-webkit-appearance: button;
			-moz-appearance: button;
			appearance: button;

			text-decoration:none;
			color: initial;
		}
	</style>
	<body>
		<h1 id="id_login_headline">Meal Lab</h1>
		<form id="id_user_login_form" method="POST" action="/meals/logging_in">
		<input id='id_username' type="text" name='username' class='form-control input-lg' placeholder='Username' />
		<input id='id_password'  type="text" name='password' class='form-control input-lg' placeholder='Password' />
		<input id='id_login' type='submit' class="btn" value="Login">
		{% csrf_token %}
		{% if error %}
			<div class='form-group has-error'>
				<span class='help-block'>{{ error }}</span>
			</div>
		{% endif %}
		</form>

		<form id="id_guest_login_form" method="POST" action="/meals/logging_in">
		{% csrf_token %}
		<input id='id_as_guest' name='guest' type='submit' class="btn" value="Continue as Guest">
		</form>
		

		<script src="http://code.jquery.com/jquery.js"></script>
		<script src="/static/bootstrap/js/bootstrap.min.js"></script>
		<script src="/static/meals.js"></script>
		<script>
			initialize();
			console.log('hello world');
		</script>
	</body>
</html>
