<!DOCTYPE HTML>
<style>
	
	#id_meal_maker_container {
		position:relative;
	}
	#id_goal_macros_div {
		position:absolute;
		width:100%;
		height:70%;
	}
</style>
<div id="id_meal_maker_container">
	<h1 id="id_meal_maker_headline">Meal Maker</h1>
	
	<div id='id_meal_maker_side_bar'>
		<h4 id="id_tdee">{{ tdee }}</h4>
		
		<label for='id_goal_meal_cals_div'>How Many Calories?</label>
		<div id='id_goal_meal_cals_div'>
			<input id='id_goal_meal_cals' class='goal_cal_inputs' type='text' name='goal_meal_cals' placeholder='Cals'/>	
			{% if meal_templates %}
				<p>-OR-</p>
				<select id='id_goal_meal_cals_select' class='goal_cal_inputs'>
					<option value='header'>Saved Cals</option>
				{% for option in meal_templates %}
					<option value='{{ option.value }}'>{{ option.text }}</option>
				{% endfor %}
				</select>
			{% endif %}
		</div>
		<div id='id_goal_meal_macros_div'>
			<label for='id_goal_meal_fat_percent'>Percent</label><label for='id_goal_meal_fat_g'>Grams</label><br>
			{% if macro_breakdown %}
				{% for macro in macro_breakdown %}
					<label for='id_goal_meal_{{ macro.name|lower }}_percent'>{{ macro.name }}</label><input id='id_goal_meal_{{ macro.name|lower }}_percent' class='choose_macros' type='text' placeholder='%' data-value="{{ macro.percent }}" value="{{ macro.percent }}"/><input id='id_goal_meal_{{ macro.name|lower }}_g' class='choose_macros' type='text' placeholder='-'/><br>
				{% endfor %}
			{% else %}
				<label for='id_goal_meal_fat_percent'>Fat</label><input id='id_goal_meal_fat_percent' class='choose_macros' type='text' placeholder='%' data-value="0"/><input id='id_goal_meal_fat_g' class='choose_macros' type='text' placeholder='g'/><br>
				<label for='id_goal_meal_carbs_percent'>Carbs</label><input id='id_goal_meal_carbs_percent' class='choose_macros' type='text' placeholder='%' data-value="0"/><input id='id_goal_meal_carbs_g' class='choose_macros' type='text' placeholder='g'/><br>
				<label for='id_goal_meal_protein_percent'>Protein</label><input id='id_goal_meal_protein_percent' class='choose_macros' type='text' placeholder='%' data-value="0"/><input id='id_goal_meal_protein_g' class='choose_macros' type='text' placeholder='g'/><br>
			{% endif %}
			<label for='id_goal_meal_macro_percent_total'>% Remaining:</label><span id='id_goal_meal_macro_percent_total'></span><br>
		</div>
		<button id='id_create_macro_bars_button' class='btn' disabled>Create Macro Bars</button>
	</div>
	<div id='id_goal_macros_div'>
		<svg id='id_goal_macros_svg' style="height:100%;width:100%"></svg>
	</div>
</div>
<script>
	MM_FUNK.goal_cal_inputs_trigger();
	MM_FUNK.create_macro_button_trigger();
	MM_FUNK.goal_meal_choose_macro_handler();
	MM_FUNK.set_initial_macro_percent_tally();
</script>

