<div id='meal-maker-side-bar' class='sidebar'>
    <h4 id="tdee">TDEE: {{ tdee }}</h4>
    <label for='goal-meal-cals-container'>How Many Calories?</label>
    <input id="goal-meal-cals" name="goal-meal-cals" class="goal-cal-inputs" type="text" placeholder="Cals"/>

    <div id='goal-meal-cals-container'>
        {% if meal_templates %}
            <p>-OR-</p>
            <select id='goal-meal-cals-select' class='goal-cal-inputs''>
                <option value='header'>Saved Cals</option>
            {% for option in meal_templates %}
                <option value='{{ option.value }}'>{{ option.text }}</option>
            {% endfor %}
            </select>
        {% endif %}
    </div>

    <div id='goal-meal-macros-container'>
        <span class='item'></span>
        <label for='goal-meal-fat-percent' class='item'>Percent</label>
        <label for='goal-meal-fat-g' class='item'>Grams</label>
        
        {% if macro_breakdown %}
            {% for macro in macro_breakdown %}
                <label for='goal-meal-{{ macro.name|lower }}-percent' class='item'>{{ macro.name }}</label>
                <input id='goal-meal-{{ macro.name|lower }}-percent' class='choose-macros choose-macros-pct item' type='text' placeholder='%' data-value="{{ macro.percent }}" value="{{ macro.percent }}"/>
                <input id='goal-meal-{{ macro.name|lower }}-g' class='choose-macros choose-macros-g item' type='text' placeholder='g'/>
            {% endfor %}
        {% else %}
            <label for='goal-meal-fat-percent' class='item'>Fat</label>
            <input id="goal-meal-fat-percent" class="choose-macros choose-macros-pct item" name="goal-meal-fat-percent" type="text" placeholder="%" data-value="0"/>
            <input id='goal-meal-fat-g' class='choose-macros choose-macros-g item' type='text' placeholder='g'/>
            <label for='goal-meal-carbs-percent' class='item'>Carbs</label>
            <input id='goal-meal-carbs-percent' class='choose-macros choose-macros-pct item' type='text' placeholder='%' data-value="0"/>
            <input id='goal-meal-carbs-g' class='choose-macros choose-macros-g item' type='text' placeholder='g'/>
            <label for='goal-meal-protein-percent' class='item'>Protein</label>
            <input id='goal-meal-protein-percent' class='choose-macros choose-macros-pct item' type='text' placeholder='%' data-value="0"/>
            <input id='goal-meal-protein-g' class='choose-macros choose-macros-g item' type='text' placeholder='g'/>
        {% endif %}
    </div> 
    <label for='goal-meal-macro-percent-total'>% Remaining:</label><span id='goal-meal-macro-percent-total'></span><br>
    <button id='create-macro-bars-button' class='btn' disabled>Create Macro Bars</button>
</div>

<div id='goal-macros-bar-container' class='macro-area'>
</div>

<div id='meal-maker-food-search-container' class='search-area'>
    <span id='meal-maker-food-search-wrapper'>
        <input id='meal-maker-food-search-input' type='text' placeholder='Search For Food'/>
        <button id='food-search-icon-button' class="icon">
            <i class='fa fa-search'></i>
        </button>
    </span>
    <div id='meal-maker-food-search-results-container'></div>
</div>

<div id='meal-maker-food-container' class='food-area'>
    <div id='meal-maker-food-header'>Add Ingredients Using Search</div>
    <div id='meal-maker-food-content'></div>
</div>

<script>
	SEARCH.meal_maker_food_search_trigger();
	MGOAL.goal_cal_inputs_trigger();
	MGOAL.goal_meal_choose_macro_handler();
	MGOAL.set_initial_macro_percent_tally();
	BARS.create_macro_button_trigger();
</script>

