<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="ID=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">

		<title>Meal Maker</title>
		<link href="/static/bootstrap/css/bootstrap.min.css" rel="stylesheet">
		<script src="http://code.jquery.com/jquery.js"></script>
		<script src="/static/bootstrap/js/bootstrap.min.js"></script>
	</head>
	<body>
		<div id='id_header_bar'>
			<a id="id_sign_up" type="button" href="/sign_up">Sign up</a>
			<a id="id_log_in_off" type="button" href="/login">Login</a>
		</div>
		
		<ul class="nav nav-tabs">
			<li id="id_my_macros_tab_label"><a data-toggle="tab" href="#id_my_macros_tab">My Macros</a></li>
			<li id="id_meal_maker_tab_label"><a data-toggle="tab" href="#id_meal_maker_tab">Meal Maker</a></li>
			<li id="id_my_meals_tab_label"><a data-toggle="tab" href="#id_my_meals_tab">My Meals</a></li>
			<li id="id_add_recipes_tab_label"><a data-toggle="tab" href="#id_add_recipes_tab">Add Recipes</a></li>
			<li id="id_add_food_tab_label"><a data-toggle="tab" href="#id_add_food_tab">Add Food to Database</a></li>
		</ul>
		
		<div class="tab-content">
			<div id="id_my_macros_tab" class="tab-pane">
				<h1 id="id_my_macros_header">My Macros</h1>
			</div>
			<div id="id_meal_maker_tab" class="tab-pane">
				<h1 id="id_meal_maker_header">Meal Maker</h1>
			</div>
			<div id="id_my_meals_tab" class="tab-pane">
				<h1 id="id_my_meals_header">My Meals</h1>
			</div>
			<div id="id_add_recipes_tab" class="tab-pane">
				<h1 id="id_add_recipes_header">Add Recipes</h1>
			</div>
			<div id="id_add_food_tab" class="tab-pane">
				<h1 id="id_add_food_header">Add New Food to Database</h1>
			</div>
		</div>
		<h1 id='id_home_headline'>Meal Lab</h1>
	</body>
</html>
