<h1 id="my-macros-headline" class="headline--md">Find Total Daily Energy Expenditure (TDEE)</h1>
<div id="tdee-form-container" class="l-tdee" >
    <div class="content-box l-tdee--top l-flex--col">
        <div class="content-box__header">Unit Type</div>
        <div id="unit-input-container" class="content-box__content l-flex--row-left">
            <div class="radio-input">
                <label class="radio-input__label">Imperial</label>
                <input class="radio-input__input" type="radio" name="unit-type" value="i" checked/>
            </div>
            <div class="radio-input">
                <label class="radio-input__label">Metric</label>
                <input class="radio-input__input" type="radio" name="unit-type" value="m"/>
            </div>
        </div>
    </div>
    <div class="content-box l-tdee--side l-flex--col">
        <div class="content-box__header">Physical Traits</div>
        <div id="gender-input" class="radio l-flex--row-left">
            <div class="radio-input">
                <label class="radio-input__label">Male</label>
                <input class="radio-input__input" type="radio" name="gender" value="m"/>
            </div>
            <div class="radio-input">
                <label class="radio-input__label">Female</label>
                <input class="radio-input__input" type="radio" name="gender" value="f"/>
            </div>
        </div>
        <div id="age-input" class="input l-flex--col">
            <label class="input__label">Age:</label>
            <input class="input__input--sm" type="text" name="age" placeholder="Age"/>
        </div>
        <div id="weight-input" class="input l-flex--col">
            <label class="input__label">Weight:</label>
                {% if form.unit_type.initial == "imperial" %}
                    <input type="text" class="input__input--sm" name="weight-i" placeholder="Weight(lb)"/>
                {% endif %}
                {% if form.unit_type.initial == "metric" %}
                    <input type="text" class="input__input--sm" name="weight-m" placeholder="Weight(kg)"/>
                {% endif %}
        </div>
        <div id="height-input" class="input l-flex--col">
            <label class="input__label">Height:</label>
      
            {% if form.unit_type.initial == "imperial" %}
                <input class="input__input--sm" type="text" placeholder="ft"/>
                <input class="input__input--sm" type="text" placeholder="in"/>
            {% endif %}
            {% if form.unit_type.initial == "metric" %}
                <input class="input__input--sm" type="text" placeholder="cm"/>
                {{ form.m_height }}
            {% endif %}
        </div>
    </div>        
    <div class="content-box l-tdee--mid-top">
        <div class="content-box__header">Activity Level</div>
        <div id="activity-container" class="content-box__content l-flex--row-btw">
            <div class="text-box">
                <div class="radio-input">
                    <input class="radio-input__input" type="radio" name="activity"/>
                </div>
                <span class="text-box__text">xxx xxx xxx xxx xxx xxxx xx xxx xxxx xxxx xx xxxx xx xx xxx xx xx xx </span>
            </div>
            <div class="text-box">
                <div class="radio-input">
                    <input class="radio-input__input" type="radio" name="activity"/>
                </div>
                <span class="text-box__text">xxx xxx xxx xxx xxx xxxx xx xxx xxxx xxxx xx xxxx xx xx xxx xx xx xx </span>
            </div>
            <div class="text-box">
                <div class="radio-input">
                    <input class="radio-input__input" type="radio" name="activity"/>
                </div>
                <span class="text-box__text">xxx xxx xxx xxx xxx xxxx xx xxx xxxx xxxx xx xxxx xx xx xxx xx xx xx </span>
            </div>
            <div class="text-box">
                <div class="radio-input">
                    <input class="radio-input__input" type="radio" name="activity"/>
                </div>
                <span class="text-box__text">xxx xxx xxx xxx xxx xxxx xx xxx xxxx xxxx xx xxxx xx xx xxx xx xx xx </span>
            </div>
            <div class="text-box">
                <div class="radio-input">
                    <input class="radio-input__input" type="radio" name="activity"/>
                </div>
                <span class="text-box__text">xxx xxx xxx xxx xxx xxxx xx xxx xxxx xxxx xx xxxx xx xx xxx xx xx xx </span>
            </div>
        </div>
    </div>
    <div class="content-box l-tdee--mid-bottom l-flex--col">
        <div class="content-box__header">Weight Change</div>
        <div id="direction-container" class="content-box__content l-flex--row-left">
            <div class="radio-input">
                <label class="radio-input__label">Lose</label>
                <input class="radio-input__input" type="radio" name="direction" value="lose"/>
            </div>
            <div class="radio-input">
                <label class="radio-input__label">Maintain</label>
                <input class="radio-input__input" type="radio" name="direction" value="maintain"/>
            </div>
            <div class="radio-input">
                <label class="radio-input__label">Gain</label>
                <input class="radio-input__input" type="radio" name="direction" value="gain"/>
            </div>

        </div>
        <div id="change-rate" class="input">
            <label class="input__label">Rate of Change</label>
            {% if form.unit_type.initial == "imperial" %}
                <input id="change-rate-i" class="input__input--sm" type="text" name="change-rate-i" data-type="number" placeholder="lb/wk"/>
            {% endif %}
            {% if form.unit_type.initial == "metric" %}
                <input id="change-rate-m" class="input__input--sm" type="text" name="change-rate-m" data-type="number" placeholder="kg/wk"/>
            {% endif %}
        </div>
    </div>
    <div class="content-box l-tdee--footer l-flex--row-btw">
            <button id="calc-tdee" onclick="form-validation("tdee-form-container")">Calculate</button>
            <div id="tdee-result"></div>
            <div id="change-tdee-result"></div>
            <input id="hidden-tdee" name="tdee" type="hidden"/>
            <div id="calc-tdee-errors"></div>
    </div>
</div>
<!--
<div id="choose-macros-form-container">
    <p>Choose Macro Ratios</p>

    <span class="choose-macro-titles">%</span><span class="choose-macro-titles">g</span><br>
    <div id="id-choose-protein-div"><label for="id-protein-percent"><span class="choose-macro-titles">Protein</span></label>{{ form.protein_percent }}{{ form.protein_g }}</div>
    <div id="id-choose-fat-div"><label for="id-fat-percent"><span class="choose-macro-titles">Fat</span></label>{{ form.fat_percent }}{{ form.fat_g }}</div>
    <div id="id-choose-carbs-div"><label for="id-carbs-percent"><span class="choose-macro-titles">Carbs</span></label>{{ form.carbs_percent }}{{ form.carbs_g }}</div>
    <span class="choose-macro-titles">% Remaining</span><span id="id-macro-percent-total">100</span>
    <br><button id="id-choose-macros-continue-button" class="btn" disabled>Continue</button>
</div>
<div id="id-meal-template-meals-number-form-container">
    <span id="id-meal-template-header">Break Up Your Daily Calories Into Meals/Snacks</span>
    
    <label for="id-meal-template-meals-number">Number of meals/snacks per day?</label>
    <input id="id-meal-template-meals-number" class="form-control" type="text" name="meal-number" placeholder="# meals/snacks" data-type="number"/>
    <button id="id-meal-template-set-cals-continue-button" class="btn" disabled>Continue</button>
</div>
<div id="id-meal-template-set-meal-cals-form-container"></div>
{% csrf_token %}
{% if form.errors %}
    <div class="form-group has-error">
        <div class="help-block">{{ form.errors }}</div>
    </div>
{% endif %}
{% if errors %}
    <div class="form-group has-error">
        <div class="help-block">{{ errors }}</div>
    </div>
{% endif %}
<div id="id-client-side-form-errors"></div>
<div id="id-my-macros-successful-save-div" class="alert alert-success">
    Macros Successfully Saved! Now Go Make a Meal!
</div>
-->
<script>
	switch_between_imperial_metric();
	calc_tdee();
	change_change_rate_display();
	choose_macro_handler();
	continue_button_displays_meal_snack_num_div();
	set_cals_continue_button_is_enabled_upon_input_keyup();
	display_set_cals_form();
	meal_template_set_cals_totaler();
</script>
