<!doctype html>
<style>
	.imperial {
		display: block;
	}	
	.metric {
		display: none;
	}
</style>
<div>
	<form id="id_my_macros_form" method="POST" action="/meals/save_my_macros">
	<br>
	{% for choice in form.unit_type %}
	{{ choice }}
	{% endfor %}
	<br>
	{% for choice in form.gender %}
	{{ choice }}
	{% endfor %}
	<br>
	<div id='{{ form.age.auto_id }}_div'>{{ form.age.label_tag }}{{ form.age }}</div>
	<div id="{{ form.weight.auto_id }}_div">{{ form.weight.label_tag }}{{ form.weight }}</div>
	<div id='id_height_div'></div>
	<br>
	{% for choice in form.activity %}
	<span id='{{ choice.data.attrs.id }}_span'>{{ choice }}</span>
	{% endfor %}
	<br>
	{% for choice in form.direction %}
	<span id='{{ choice.data.attrs.id }}_span'>{{ choice }}</span>
	{% endfor %}
	<br>
	{{ form.change_rate }}
	<br>
	<button id='id_calc_tdee'>Calculate</button>
	<span><p>Choose Macro Ratios</p></span>
	
	<table>
	<tr><th>Protein</th><td>{{ form.protein_percent }}</td><td>{{ form.protein_g }}</td></tr>
	<tr><th>Fat</th><td>{{ form.fat_percent }}</td><td>{{ form.fat_g }}</td></tr>
	<tr><th>Carbs</th><td>{{ form.carbs_percent }}</td><td>{{ form.carbs_g }}</td></tr>
	</table>
	
	{% csrf_token %}
	{% if form.errors %}
		<div class="form-group has-error">
			<div class="help-block">{{ form.errors }}</div>
		</div>
	{% endif %}
	{% if i_tdee_form.errors %}
		<div class="form-group has-error">
			<div class="help-block">{{ i_tdee_form.errors }}</div>
		</div>
	{% endif %}
	{% if m_tdee_form.errors %}
		<div class="form-group has-error">
			<div class="help-block">{{ m_tdee_form.errors }}</div>
		</div>
	{% endif %}
	<br><input id='id_save_my_macros' type='submit' class="btn" value="Save">
	</form>
</div>
<script>
	
		
	var i_height_input_1 = "<input id='id_height_0' type='text' name='height_0' class='form-control input-sm' />",
	i_height_input_0 = "<input id='id_height_1' type='text' name='height_1' class='form-control input-sm' />",
	m_height_input = "<input id='id_height' type='text' name='height' class='form-control input-sm' />",
	height_label = "{{ form.height.label }}",
	unit_type = "{{ unit_type }}",
	height_row = "<td><b>" + height_label + ":<b></td>",
	height_input_table = "<table id='id_height_table'><tr>"
	;
	if (unit_type == 'metric') {
		height_row += "<td>" + m_height_input + "</td>";
	} else {
		
		height_row += "<td>" + i_height_input_0 + "</td><td>" + i_height_input_1 + "</td>";
	}	
	height_input_table +=  height_row + "</tr></table>";
	
	switch_between_imperial_metric(height_input_table,unit_type);
	

	
</script>
