db.sqlite3
geckodriver.log
__pycache__
*.pyc
.ipynb_checkpoints/
Untitled.ipynb
sandbox.ipynb
meals/static/d3/
virtualenv
meals/migrations/
tmp/
meals/static/meals/js/d3/
add food to db.ipynb
static/meals/bootstrap/
static/meals/js/d3/
static/meals/tests/qunit.js
static/meals/tests/qunit.css
