virtualenv/
tmp/
__pycache__
.elasticbeanstalk/
.ipynb_checkpoints/
geckodriver.log
*.ipynb
supermeals/secret_key.py
qunit.css
qunit.js
.elasticbeanstalk/config.yml
static/meals/js/d3/
static/meals/js/jquery/
.ebextensions/
meals/static/meals/js/d3/
meals/static/meals/js/d3
meals/static/meals/js/jquery
functional_tests/screendumps/
docker
Dockerfile
docker-compose.yml
nginx/
