<!DOCTYPE html>
<html lang="en">
	<head>
        <title>Login</title>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="ID-edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">

        {% load static %}
        <link href="{% static "meals/css/meals.css" %}" rel="stylesheet">
        <link href="{% static "meals/css/authenticate.css" %}" rel="stylesheet">
        <link href="{% static "meals/css/styles.css" %}" rel="stylesheet">
    </head>

    <body>
        <div class='l-flex--center'>
            <div>

                <div id='login-welcome' class='l-flex--center'>
                    <div>
                    <h1>Macrobatics</h1>
                    <p>Find portions of foods you love,
                    which support nutritional goals</p>
                    </div>

                </div>
                <div id="login-container"> 
                    <div id="login-errors">

                        {% if form.errors %}
                        <p>Your username and password didn't match. Please try again.</p>
                        {% endif %}

                        {% if next %}
                            {% if user.is_authenticated %}
                                <p>Your account doesn't have access to this page. To proceed,
                                    please login with an account that has access.</p>
                            {% else %}
                                <p>Please login to see this page.</p>
                            {% endif %}
                        {% endif %}
                    </div>

                    <form method="post" action="{% url 'login' %}">
                        <div id="login-form" class="content-box auth-form-content">
                            {% csrf_token %}

                            <div id="login-username-input" class="input l-flex--col-start">
                                <label class="input__label">Username:</label>
                                <input class="input__input input__input--lg" name="username" placeholder="Username"/>
                            </div>

                            <div id="login-password-input" class="input l-flex--col-start">
                                <label class="input__label">Password:</label>
                                <input class="input__input input__input--lg" type="password" name="password" placeholder="Password"/>
                            </div>

                            <div>
                                <input class="btn" type="submit" value="Login" />
                                <input class="btn" type="hidden" name="next" value="{{ next }}" />
                            </div>
                            <p class="text--label">- Or -</p>
                            <div>
                                <input class="btn" type="submit" value="Login As Guest" />
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <script src="https://code.jquery.com/jquery.js"></script>
        <script>
                $("input[value='Login As Guest']").on("click", function() {
                    $("input[name='username']").val('guest');
                    $("input[name='password']").val('password');
                });
        </script>
    </body>

</html>

