<div class='l-flex--row-start '>
    <div class='width-half s-border--right-thin'>
    {% include 'meals/search.html' with tab_name='add-recipe' %}

    </div>
    <div class='bm-margin--md-left width-half'>
        <form id='add-recipe-form' >
            {% csrf_token %}
            <div class='input l-flex--col-start'>
                <label for='add-recipe-recipe-name' class='input__label'>Recipe Name</label>
                <input id='add-recipe-recipe-name' class='input__input input__input--lg' name='name' type='text' required />
                <div id='add-recipe-name-errors' class='form-errors'></div>
            </div>
            <div class='input l-flex--col-start'>
                <label for='add-recipe-notes' class='input__label'>Notes (optional):</label>
                <textarea id='add-recipe-notes' class='input__input input__input--lg input__input--textarea' name='notes' type='textarea'></textarea>
            </div>

            <div id='add-recipe-ingredients-container'>
                <p><u>Add Ingredients Using Search</u></p>
            </div>
            <div id='add-recipe-ingredients-container-errors'></div>
            <button id='add-recipe-save-button' class='btn bm-margin--md-top' type='submit'>Save Recipe</button>
            <div id='add-recipe-save-status' class='alert'></div>
        </form>
    </div>
</div>

<script>
    SEARCH.filter_checkbox_behavior('add-recipe');
    ADD_RECIPE_SEARCH.add_recipe_search_listener();
    ADD_RECIPE.add_recipe_form_save();
</script>
