<div id='add-new-forms-container'>
    <div id='add-new-headline' class='headline--md'>
        Add New Ingredients/Recipes
    </div>

    <div class='input'>
        <label for='add-new-search-1' class='input__label'>Search for Ingredient</label> 
        <div class='l-flex--row-start'>
            <input id='add-new-search-1' class='input__input' type='text' />
            <button class='icon search-button'>
                <i class='fa fa-search'></i>
            </button>
        </div>
    </div>
</div>
