<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="ID=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Meal Lab</title>
        <link href="https://fonts.googleapis.com/css?family=Philosopher" rel="stylesheet">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
        {% load static %}
        <link href="{% static "meals/css/styles.css" %}" rel="stylesheet">
        <link href="{% static "meals/css/meals.css" %}" rel="stylesheet">
        
	</head>
	<body>
        <div class="container">
            <div class="header">
                <div class="header__nav">
                    <div id="my-macros-tab" class="header__nav-tab content-tab">My Macros</div>
                    <div id="meal-maker-tab" class="header__nav-tab content-tab">Meal Maker</div>
                    <div id="my-meals-tab" class="header__nav-tab content-tab">My Meals</div>
                    <div id="add-new-tab" class="header__nav-tab content-tab">Add New Foods/Recipes</div>
                </div>
                <div class="header__nav">
                    {% if user.is_authenticated and user.get_username != 'guest' %}
                        <a id="logoff" href="/accounts/logout/?next=/accounts/login/">
                            <div class="header__nav-tab">Logout</div>
                        </a>
                    {% else %}
                        <a id="sign-up" href="/meals/sign-up/">
                            <div class="header__nav-tab">Sign up</div>
                        </a>
                        <a id="login" href="/accounts/login/">
                            <div class="header__nav-tab">Login</div>
                        </a>
                        <a id="logoff" href="/accounts/logout/?next=/accounts/login/">
                            <div class="header__nav-tab">Logout</div>
                        </a>
                    {% endif %}
                </div>
            </div>
            <div class="content">
                <div id="my-macros-container" class="page-content hide"></div>
                <div id="meal-maker-container" class="page-content hide"></div>
                <div id="my-meals-container" class="page-content hide"></div>
                <div id="add-new-container" class="page-content hide"></div>
            </div> 
        </div>
        
		<script src="http://code.jquery.com/jquery.js"></script>
        <script src="https://d3js.org/d3.v4.min.js" charset="utf-8"></script>
        <script src="{% static "meals/bootstrap/js/bootstrap.min.js"%}"></script>
        <script src="{% static "meals/js/calc_my_macros.js" %}"></script>
		<script src="/static/meals/js/meal_maker/general.js"></script>
		<script src="/static/meals/js/meal_maker/set_macro_goals.js"></script>
		<script src="/static/meals/js/meal_maker/bars.js"></script>
		<script src="/static/meals/js/meal_maker/search.js"></script>
		<script src="/static/meals/js/meal_maker/save_meal.js"></script>
		<script src="/static/meals/js/my_meals/easy_pick.js"></script>
		<script src="/static/meals/js/my_meals/search.js"></script>
		<script>
            set_navs_to_active();
			hide_home_header_on_tab_select();
			key_press_hides_error();
            hide_non_active_content();
            get_tab_page_content();
		</script>
	</body>
</html>
