<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="ID=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">


		<title>Macrobatics</title>
        <link href="https://fonts.googleapis.com/css?family=Quicksand" rel="stylesheet">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
        {% load static %}
        <link href="{% static "meals/css/styles.css" %}" rel="stylesheet">
        <link href="{% static "meals/css/meals.css" %}" rel="stylesheet">
        <link href="{% static "meals/css/my_macros.css" %}" rel="stylesheet">
        <link href="{% static "meals/css/add_recipe.css" %}" rel="stylesheet">
        <link href="{% static "meals/css/search.css" %}" rel="stylesheet">
        
        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-132319863-2"></script>
        <script>
            window.dataLayer = window.dataLayer || [];
            function gtag(){dataLayer.push(arguments);}
            gtag('js', new Date());
            gtag('config', 'UA-132319863-2');
        </script>
	</head>
	<body>
        <div class='container'>
            <div class='header s-border--bottom-thin'>
                <div class='header__nav l-flex--row-start'>
                    <div id='my-macros-tab' class='header__nav-tab content-tab'>My Macros</div>
                    <div id='meal-maker-tab' class='header__nav-tab content-tab'>Meal Maker</div>
                    {% if request.user.username == 'guest' %}
                        <div id='my-meals-tab' class='header__nav-tab content-tab disabled'>
                            <div>My Meals/Recipes</div>
                        </div>
                        <div id='add-recipe-tab' class='header__nav-tab content-tab disabled'>Add New Recipes</div>
                        <div id='add-food-tab' class='header__nav-tab content-tab disabled'>Add New Foods</div>
                    {% else %}
                        <div id='my-meals-tab' class='header__nav-tab content-tab'>My Meals/Recipes</div>
                        <div id='add-recipe-tab' class='header__nav-tab content-tab'>Add New Recipes</div>
                        <div id='add-food-tab' class='header__nav-tab content-tab'>Add New Foods</div>
                    {% endif %}
                <!-- </div> -->
                    {% if user.is_authenticated and user.get_username != 'guest' %}
                    <div class='l-flex l-flex--row-start'>
                    <div class='header__nav-tab l-flex--center'>
                        <a id='logoff' href='/accounts/logout/?next=/accounts/login/'>
                            <div class='nav-tab'>Logout</div>
                        </a>
                    </div>
                    {% else %}
                    <div class='l-flex l-flex--row-around'>
                    <div class='header__nav-tab header__nav-tab--third'>
                        <a id='sign-up' href='/meals/sign-up/'>
                            Sign up
                        </a>
                    </div>
                    <div class='header__nav-tab header__nav-tab--third'>
                        <a id='login' href='/accounts/login/'>
                            Login
                        </a>
                    </div>
                    <div class='header__nav-tab header__nav-tab--third'>
                        <a id='logoff' href='/accounts/logout/?next=/accounts/login/'>
                            Logout
                        </a>
                    </div>
                    {% endif %}
                    </div>
                </div>
            </div>
            <div class="content">
                <div id="my-macros-container" class="page-content hide"></div>
                <div id="meal-maker-container" class="page-content hide"></div>
                <div id="my-meals-container" class="page-content hide"></div>
                <div id="add-recipe-container" class="page-content hide"></div>
                <div id="add-food-container" class="page-content hide"></div>
            </div> 
        </div>
        
		<script src="https://code.jquery.com/jquery.js"></script>
        <script src="https://d3js.org/d3.v4.min.js" charset="utf-8"></script>

		<!-- <script src="/static/meals/js/jquery/dist/jquery.js"></script> -->
        <!-- <script src="/static/meals/js/d3/d3.min.js" charset="utf-8"></script> -->

        <script src="{% static "meals/js/calc_my_macros.js" %}"></script>
        <script src="{% static "meals/js/search.js" %}"></script>
		<script src="{% static "meals/js/general.js" %}"></script>
		<script src="{% static "meals/js/meal_maker/set_macro_goals.js" %}"></script>
		<script src="{% static "meals/js/meal_maker/bars.js" %}"></script>
		<script src="{% static "meals/js/meal_maker/meal_maker_search.js" %}"></script>
		<script src="{% static "meals/js/meal_maker/save_meal.js" %}"></script>
		<script src="{% static "meals/js/my_meals/easy_pick.js" %}"></script>
		<script src="{% static "meals/js/my_meals/my_meals_search.js" %}"></script>
		<script src="{% static "/meals/js/add_recipe/add_recipe_search.js" %}"></script>
		<script src="{% static "meals/js/add_recipe/add_recipe.js" %}"></script>
		<script src="{% static "meals/js/add_food/add_food.js" %}"></script>
		<script>
            disabled_return_alert();
            set_navs_to_active();
			//hide_home_header_on_tab_select(); -->
            window.onscroll = function() {sticky_scroll_header()};
            sticky_scroll_header();
			key_press_hides_error();
            hide_non_active_content();
            get_tab_page_content();
		</script>
	</body>
</html>
