<div id='meal-maker-side-bar' class='sidebar'>
    {% if tdee %}
        <h4 id="tdee">TDEE: {{ tdee }}</h4>
    {% endif %}

    <label for='goal-meal-cals-container'>How Many Calories?</label>
    <input id="goal-meal-cals" name="goal-meal-cals" class="goal-cal-inputs" type="text" placeholder="Cals"/>

    <div id='goal-meal-macros-container'>
        <span class='item'></span>
        <label for='goal-meal-fat-percent' class='item'>Percent</label>
        <label for='goal-meal-fat-g' class='item'>Grams</label>
        
        {% if macro_breakdown %}
            {% for macro in macro_breakdown %}
                <label for='goal-meal-{{ macro.name|lower }}-percent' class='item'>{{ macro.name }}</label>
                <input id='goal-meal-{{ macro.name|lower }}-percent' class='choose-macros choose-macros-pct item' type='text' placeholder='%' data-value="{{ macro.percent }}" value="{{ macro.percent }}"/>
                <input id='goal-meal-{{ macro.name|lower }}-g' class='choose-macros choose-macros-g item' type='text' placeholder='g'/>
            {% endfor %}
        {% else %}
            <label for='goal-meal-fat-percent' class='item'>Fat</label>
            <input id="goal-meal-fat-percent" class="choose-macros choose-macros-pct item" name="goal-meal-fat-percent" type="text" placeholder="%" data-value="0"/>
            <input id='goal-meal-fat-g' class='choose-macros choose-macros-g item' type='text' placeholder='g'/>
            <label for='goal-meal-carbs-percent' class='item'>Carbs</label>
            <input id='goal-meal-carbs-percent' class='choose-macros choose-macros-pct item' type='text' placeholder='%' data-value="0"/>
            <input id='goal-meal-carbs-g' class='choose-macros choose-macros-g item' type='text' placeholder='g'/>
            <label for='goal-meal-protein-percent' class='item'>Protein</label>
            <input id='goal-meal-protein-percent' class='choose-macros choose-macros-pct item' type='text' placeholder='%' data-value="0"/>
            <input id='goal-meal-protein-g' class='choose-macros choose-macros-g item' type='text' placeholder='g'/>
        {% endif %}
    </div> 
    <label for='goal-meal-macro-percent-total'>% Remaining:</label><span id='goal-meal-macro-percent-total'></span><br>
    <button id='create-macro-bars-button' class='btn' disabled>Create Macro Bars</button>
</div>

<div id='goal-macros-bar-container' class='macro-area'>
    <div id='goal-macros-bar-content' class='l-flex--row-btw'></div>
    <div id='goal-macros-bar-footer' class='l-flex--col-end'></div>

    <!-- The Modal -->
    <div id='save-macro-meal-modal' class="modal">

          <!-- Modal content -->
        <div class='modal-content'>
            <span class='close-modal'>&times;</span>
            <form id='save-meal-form'>
                {% csrf_token %}

                <div class='input'>
                    <label for='macro-meal-name' class='input__label-black'>Meal Name</label><br>
                    <input id='macro-meal-name' class='input__input--lg' name='macro-meal-name' placeholder='Meal Name'/>
                </div>
                <!-- <div class='input'> -->
                <!--     <label for='macro-meal-serving' class='input__label-black'>Serving  Name</label><br> -->
                <!--     <input id='macro-meal-serving' class='input__input--lg' name='macro-meal-serving' placeholder='Serving Name'/> -->
                <!-- </div> -->

                <div class='input'>
                    <label for='macro-meal-notes' class='input__label-black'>Notes (Optional)</label><br>
                    <textarea id='macro-meal-notes' class='input__input--lg' name='macro-meal-notes' placeholder='Notes (Optional)'></textarea>
                </div>

                <button id='save-macro-meal-button' type='button' class='btn'>Save Meal</button>
                <div id='macro-meal-save-status'></div>
            </form>
        </div>

    </div>

</div>

<div id='meal-maker-food-search-container' class='search-area'>
    <div id='meal-maker-food-search-wrapper'>
        <input id='meal-maker-food-search-input' type='text' placeholder='Search For Food'/>
        <button id='food-search-icon-button' class="icon">
            <i class='fa fa-search'></i>
        </button>
    </div>
    <div id='meal-maker-food-search-sub-container' class='l-flex--row-start'>
        <div id='meal-maker-food-search-filter-container'>
            <div class='l-flex--row-start'>
                <input id='meal-maker-filter-none' class='non-filter' type='checkbox' name='filter' value='none' checked />
                <label for='meal-maker-filter-none'>No Filter</label>
            </div>
            {% for id, name in food_groups %}
                <div class='l-flex--row-start'>
                    <input id='meal-maker-filter-{{ id }}' class='filter' type='checkbox' name='filter' value='{{ name }}' />
                    <label for='meal-maker-filter-{{ id }}'>{{ name }}</label>
                </div>
            {% endfor %}
        </div>
        <div id='meal-maker-food-search-results-container'></div>
    </div>
</div>

<div id='meal-maker-food-container' class='food-area'>
    <div id='meal-maker-food-header'>Add Ingredients Using Search</div>
    <div id='meal-maker-food-content'></div>
</div>

<script>
	SEARCH.meal_maker_food_search_trigger();
    SEARCH.filter_checkbox_behavior();
	MGOAL.goal_cal_inputs_trigger();
	MGOAL.goal_meal_choose_macro_handler();
	MGOAL.set_initial_macro_percent_tally();
	BARS.create_macro_button_trigger();
    SAVE.save_meal_button_listener();

    // set max height on search results since height is percentage
    const sub_container_height = $(
        '#meal-maker-food-search-sub-container'
    ).css('height')
    $(
        '#meal-maker-food-search-results-container'
    ).css('max-height', sub_container_height);
    $(
        '#meal-maker-food-search-filter-container'
    ).css('height', sub_container_height);
    
    $(
        '#meal-maker-food-search-filter-container'
    ).css('max-height', sub_container_height);

</script>

