{% ifnotequal request.user.username 'guest' %}

    <input id='is-guest' type='hidden' value='false' />
{% else %}
    <input id='is-guest' type='hidden' value='true' />
{% endifnotequal %}

<div id='meal-maker-side-bar' class='sidebar'>
    {% if tdee %}
        <div id='tdee' class='text--primary'>TDEE: {{ tdee }}</div>
    {% endif %}

    <div class='input bm-margin--sm-bottom'>
        <label for='goal-meal-cals' class='input__label'>How Many Calories?</label>
        <input id='goal-meal-cals' class='input__input input__input--sm goal-cal-inputs' name='goal-meal-cals' class='goal-cal-inputs' type='text' placeholder='Cals'/>
    </div>

    <div id='goal-meal-macros-container' class='l-flex--col-start'>
        <div class='l-flex--row-start'>
            <span class='item'></span>
            <label for='goal-meal-fat-percent' class='item text--label'>Percent</label>
            <label for='goal-meal-fat-g' class='item text--label'>Grams</label>
        </div>
        {% if macro_breakdown %}
            {% for macro in macro_breakdown %}
                <div class='input l-flex--row-start'>
                    <label for='goal-meal-{{ macro.name|lower }}-percent' class='item input__label'>{{ macro.name }}</label>
                    <input id='goal-meal-{{ macro.name|lower }}-percent' class='choose-macros choose-macros-pct item input__input input__input--sm' type='text' placeholder='%' data-value='{{ macro.percent }}' value='{{ macro.percent }}'/>
                    <input id='goal-meal-{{ macro.name|lower }}-g' class='choose-macros choose-macros-g item input__input input__input--sm' type='text' placeholder='g'/>
                </div>

            {% endfor %}
        {% else %}
            <label for='goal-meal-fat-percent' class='item'>Fat</label>
            <input id='goal-meal-fat-percent' class='choose-macros choose-macros-pct item' name='goal-meal-fat-percent' type='text' placeholder='%' data-value='0'/>
            <input id='goal-meal-fat-g' class='choose-macros choose-macros-g item' type='text' placeholder='g'/>
            <label for='goal-meal-carbs-percent' class='item'>Carbs</label>
            <input id='goal-meal-carbs-percent' class='choose-macros choose-macros-pct item' type='text' placeholder='%' data-value='0'/>
            <input id='goal-meal-carbs-g' class='choose-macros choose-macros-g item' type='text' placeholder='g'/>
            <label for='goal-meal-protein-percent' class='item'>Protein</label>
            <input id='goal-meal-protein-percent' class='choose-macros choose-macros-pct item' type='text' placeholder='%' data-value='0'/>
            <input id='goal-meal-protein-g' class='choose-macros choose-macros-g item' type='text' placeholder='g'/>
        {% endif %}
    </div> 
    <div id='goal-meal-macro-percent-total-container' class='l-flex--row-start'>
        <label for='goal-meal-macro-percent-total' class='text--label item'>Pct. Left</label>
        <span id='goal-meal-macro-percent-total' class='item'></span>
    </div>
    <button id='create-macro-bars-button' class='btn' disabled>Create Macro Bars</button>
</div>

<div id='goal-macros-bar-container' class='macro-area'>
    <div id='goal-macros-bar-content' class='l-flex--row-btw'></div>
    <div id='goal-macros-bar-footer' class='l-flex--col-end'></div>

    <!-- The Modal -->
    <div id='save-macro-meal-modal' class='modal'>

          <!-- Modal content -->
        <div class='modal-content'>
            <span class='close-modal'>&times;</span>
            <form id='save-meal-form'>
                {% csrf_token %}

                <div class='input'>
                    <label for='macro-meal-name' class='input__label-black'>Meal Name</label><br>
                    <input id='macro-meal-name' class='input__input--lg' name='macro-meal-name' placeholder='Meal Name'/>
                </div>

                <div class='input'>
                    <label for='macro-meal-notes' class='input__label-black'>Notes (Optional)</label><br>
                    <textarea id='macro-meal-notes' class='input__input--lg' name='macro-meal-notes' placeholder='Notes (Optional)'></textarea>
                </div>

                <button id='save-macro-meal-button' type='button' class='btn'>Save Meal</button>
                <div id='macro-meal-save-status'></div>
            </form>
        </div>
    </div>
</div>

<div id='meal-maker-food-search-container' class='search-area'>
    {% include 'meals/search.html' with tab_name='meal-maker' %}
</div>

<div id='meal-maker-food-container' class='food-area'>
    <div id='meal-maker-food-content'></div>
</div>

<script>
    SEARCH.filter_checkbox_behavior('meal-maker');
	MEAL_MAKER_SEARCH.meal_maker_search_listener();
	MGOAL.goal_cal_inputs_trigger();
	MGOAL.goal_meal_choose_macro_handler();
	MGOAL.set_initial_macro_percent_tally();
	BARS.create_macro_button_trigger();
    SAVE.save_meal_button_listener();

    // set max height on search results since height is percentage
    const container_height = $(
        '#goal-macros-bar-container'
    ).css('height')
    $(
        '#meal-maker-filter-container'
    ).css('max-height', container_height);
    $(
        //'#meal-maker-search-results-container'
        '#meal-maker-search-container'
    ).css('max-height', container_height);

</script>

