<div class='l-flex--row-start'>
    <div id='my-meals-easy-picks-container'>
            <div id='my-meals-easy-picks-input-wrapper'>
                <div class='input'>
                    <label for='recent' class='radio-input__label'>Recent</label>
                    <input type='radio' id='recent' class='radio-input__input' name='easy-pick' value='recent' checked />
                </div>
                <div class='input'>
                    <label for='popular' class='radio-input__label'>Popular</label>
                    <input type='radio' id='popular' class='radio-input__input' name='easy-pick' value='popular' />
                </div>
            </div>
        <div id='my-meals-easy-picks-meals-container'></div>
    </div>

    <div id='my-meals'>
        <input id='my-meals-search-input' placeholder='Search My Meals' />
        <button id='my-meals-search-button' class="icon">
            <i class='fa fa-search'></i>
        </button>
    </div>
    <div id='my-meals-search-results-container'></div>
    <!-- The Modal -->
    <div id='my-meal-modal' class="modal">

          <!-- Modal content -->
        <div class='modal-content'>
            <div class="modal-header">
                <span class="close-modal">&times;</span>
                <h2 id='my-meals-modal-header'>Poop</h2>
            </div>
            <div class="modal-content">
                <p>content</p>
                <div class='my-meal-ingredients'>Pretzels</div>
                <div class='my-meal-ingredients'>Cheese</div>
            </div>

        </div>

    </div>

</div>

<script>

$(document).ready(function() {

    EASY_PICK.easy_pick();
    MY_MEAL_SEARCH.my_meals_food_search_listener();
    $('input[value="recent"]').trigger('change');
});
   
</script>

