<div class='l-flex--row-start'>
    <div id='my-meals-easy-picks-container'>
            <div id='my-meals-easy-picks-input-wrapper'>
                <select id='my-meals-select'>
                    <option value="meal" name='meal-or-recipe' checked>My Meals</option>
                    <option value="recipe" name='meal-or-recipe'>My Recipes</option>
                </select>
            </div>
        <div id='my-meals-easy-picks-meals-container'></div>
    </div>

    <div id='my-meals'>
        <input id='my-meals-search-input' placeholder='Search My Meals' />
        <button id='my-meals-search-button' class="icon">
            <i class='fa fa-search'></i>
        </button>
    </div>
    <div id='my-meals-search-results-container'></div>
    <!-- The Modal -->
    <div id='my-meal-modal' class="modal">

          <!-- Modal content -->
        <div class='modal-content'>
            <div class="modal-header">
                <span class="close-modal">&times;</span>
                <h2 id='my-meals-modal-header'></h2>
                <h4 id='my-meals-modal-sub-header'></h4>
            </div>
            <div class="modal-body">
            </div>
        </div>
    </div>
</div>

<script>

$(document).ready(function() {
    MY_MEALS_SEARCH.easy_picks();
	MY_MEALS_SEARCH.my_meals_search_listener();
    $('#my-meals-select').trigger('change');
});
   
</script>

