<div class='l-flex--row-start'>
    <div id='my-meals-easy-picks-container' class='bm-margin--sm-right'>
            <div id='my-meals-easy-picks-input-wrapper'>
                <select id='my-meals-select'>
                    <option value="meal" name='meal-or-recipe' checked>My Meals</option>
                    <option value="recipe" name='meal-or-recipe'>My Recipes</option>
                </select>
            </div>
        <div id='my-meals-easy-picks-meals-container'></div>
    </div>

    <div class='l-flex--col-start'>
        <div id='my-meals' class='input l-flex--col-start'>
            <label for='my-meals-search' class='input__label'>Search for your saved meals</label>
            <div class='l-flex--row-start'>
                <input id='my-meals-search' class='input__input input__input--lg' placeholder='Search My Meals' />
                <button id='my-meals-search-button' class="icon">
                    <i class='fa fa-search'></i>
                </button>
            </div>
        </div>
        <div id='my-meals-search-results-container'></div>
    </div>
    <!-- The Modal -->
    <div id='my-meal-modal' class='modal'>

          <!-- Modal content -->
        <div class='modal-content'>
            <div class='modal-header'>
                <span class='close-modal'>&times;</span>
                <u><h2 id='my-meals-modal-header'></h2></u>
                <h4 id='my-meals-modal-sub-header'></h4>
            </div>
            <div id='my-meals-modal-body' class='modal-body'></div>
            <div class='modal-footer'>
                <button id='my-meals-delete' class='btn'>Delete This</button>
            </div>
        </div>
    </div>

    <div id='my-meals-confirm-delete' class='modal'>
        <div class='modal-content'>
            <div class='modal-body'>
                <p>Are you sure you want to delete this?</p>
                <form id='my-meals-delete-form' method='POST'>
                    {% csrf_token %}
                </form>
            </div>
            <div class='l-flex--row-end modal-footer'>
                <button id='my-meals-ok-delete' class='btn' type='button'>Ok</button>
                <button id='my-meals-cancel-delete' class='btn' type='button' >Cancel</button>
                <div id='my-meals-delete-confirmation'></div>
            </div>
        </div>
    </div>
</div>

<script>

$(document).ready(function() {
    MY_MEALS_SEARCH.easy_picks();
	MY_MEALS_SEARCH.my_meals_search_listener();
    $('#my-meals-select').trigger('change');
});
   
</script>

