<div class='l-flex--row-start search-container'>
    <div id='{{ tab_name }}-filter-container' class='l-flex--col-start search-filter-container'>

        <label for='{{ tab_name }}-filters' class='text--label'>Search Filters</label>
        <!-- <div id='{{ tab_name }}-filter-container'> -->
        <div id='{{ tab_name }}-filters'>
            <div class='l-flex--row-start'>
                <input id='{{ tab_name }}-filter-none' class='non-filter {{ tab_name }}-non-filter' type='checkbox' name='filter' value='none' checked />
                <label for='{{ tab_name }}-filter-none'>No Filter</label>
            </div>
            {% for filter_obj in filters %}
                <div class='l-flex--row-start'>
                    <input id='{{ tab_name }}-filter-{{ filter_obj.id_name }}' class='filter {{ tab_name }}-filter' type='checkbox' name='filter' value='{{ filter_obj.informal_name }}' />
                    <label for='{{ tab_name }}-filter-{{ filter_obj.id_name }}'>{{ filter_obj.informal_name }}</label>
                </div>
            {% endfor %}
        </div>
    </div>

    <div id='{{ tab_name }}-search-container' class='search-bar-container'>
        <div class='input'>
            <label for='{{ tab_name }}-search' class='text--label'>Search for Ingredients</label> 
            <div class='l-flex--row-start'>
                <input id='{{ tab_name }}-search' class='input__input' type='text' />
                <button id='{{ tab_name }}-search-button' class='icon search-button'>
                    <i class='fa fa-search'></i>
                </button>
            </div>
        </div>
        <div id='{{ tab_name }}-search-results-container'></div>
    </div>
</div>
