/****************************************************/
/* General tags and classes
 * 
 * Rules for tags and non-positional classes
 * are found here.
*/
/****************************************************/
.slider-active {
    stroke: orange;
    stroke-width: 2px;
}

.food-amt {
    font-size: 15px;
    width: 50px;
}

.food-amt-units {
    font-size: 15px;
    height: 80%;
}

.food-container {
    /* background-color: lightblue; */
    border-right: 1px solid black;
    display: flex;
    flex-direction: column;
    height: 100%;
    margin-left: 5px;
    width: 20%;
}

.food-container-header {
    height: 15%;
    margin-left: 10px;
    font-size: 20px;
}

.food-container-bars {
    display: flex;
    justify-content: end;
    height: 80%;

}

.food-container-footer {
    height: 15%;
    margin-left: 15px;
    font-size: 20px;
}

.food-macro-svg-container {
    height: 100%;
    width: 25%;
}

.food-macro-svg {
    margin-left: 5%;
}

.goal-cal-inputs {
    // for javascript behavior
}

.item {
    width: 30%;
}

.macro-bar-container {
    height: 100%;
    padding-right:3px;
    width: 20%; 
}

.macro-bar-svg {
    height: 90%;
    width : 100%;
}
/****************************************************/
/* Positional tags and classes
 * 
 * Rules for positional classes (header, content, footer)
 * are found here.
 *
/****************************************************/
.sidebar {
    grid-area: sidebar;
}

.macro-area {
    grid-area: maker;
}

.search-area {
    grid-area: search;
}


.food-area {
    grid-area: ingredient;
}


/****************************************************/
/* ID specific 
 * 
 *
/****************************************************/

#goal-macros-bar-content { 
    height: 85%;
}

#goal-macros-bar-footer {
    height: auto;
}

#goal-meal-macro-percent-total {
    font-size: 30px;
    font-weight: solid;
}

#goal-meal-macro-percent-total-container {
    vertical-align: bottom;
    display: table-cell;
}

#meal-maker-container {
    height: 100%;
    /* width: 100%; */
    display: grid; 
    grid-gap: 3px;
    grid-template-columns: repeat(5,1fr);
    grid-template-rows: 300px;
    grid-template-areas:
        "sidebar maker maker search search"
        "ingredient ingredient ingredient ingredient ingredient";
}

#meal-maker-food-container {
    display:flex;
    flex-direction: column;
    padding-top: 10px;
}

#meal-maker-food-content-banner {
    font-size: 90px;
}

#meal-maker-food-content {
    /* flex: 1; */
    display: flex;
    height: 85%;
    overflow-x: auto;
}

#meal-maker-search {
    /* width: 100px; */
    width: 100%;
}

#meal-maker-food-search-container {
    height: 100%;
}

#meal-maker-food-search-wrapper {
    height: 10%;
}

#meal-maker-food-search-sub-container {
    height: 90%;
}

#meal-maker-search-container {
    height: 100%;
    overflow-y: auto;
    width: 65%;
}

#meal-maker-filters {
    border: 1px solid #888;
    height: 100%;
    overflow-y: auto;
}
