/****************************************************/
/* General tags and classes
 * 
 * Rules for tags and non-positional classes
 * are found here.
*/
/****************************************************/

html, body {
    box-sizing: border-box;
    display: border-box;
    font-family: "Quicksand", sans-serif; 
    height: 100vh; 
    margin: 0;
    mox-box-sizing: border-box;
    ms-box-sizing: border-box;
    webkit-box-sizing: border-box;
}

a {
    color: black;
    text-decoration:none;
}

.alert {
    font-size: 30px;
    font-weight: bold;
}

.btn {
    background-color: #ba3d1e;
    border: none;
    color: #f9e34b;
    cursor: pointer;
    font-family: "Quicksand", sans-serif; 
    font-size: 20px;
    font-weight: bold;
    padding: 10px;
}

.btn:disabled {
    background-color: gray;
    cursor: default;
}
 .btn:active {
    color: #ba3d1e;
    background-color: #1e9bba;
 }

.disabled {
    cursor: default;
}

fieldset {
    padding: 0px;
    margin: 0px;
    border: none;
}

.form-error {
    color: red;
}

.headline {
    padding 3px; 
    font-weight: bold;
}

.headline--md {
    font-size: 30px;
}

.input__input {
    border: 1px solid black;
    border-radius: 10px;
    font-family: "Quicksand", sans-serif; 
    font-size: 19px;
    font-weight: bold;
    height: 30px;
    padding-left: 5px;
}

.input__input--sm {
    width: 75px;
}

.input__input--md {
    width: 115px;
}

.input__input--lg {
    width: 250px;
}

.input__label {
    font-size: 20px;
}

.input__input--textarea {
    height: 60px !important;
}

.input__label-black {
    font-size: 20px;
}

/* Modal Background */
.modal {
    display: none; /* Hidden by default */
    height: 100%; /* Full height */
    left: 0;
    overflow: auto; /* Enable scroll if needed */
    position: fixed; /* Stay in place */
    top: 0;
    width: 100%; /* Full width */
    z-index: 1; /* Sit on top */
}

/* Modal Content/Box */
.modal-content {
    background-color: white;
    border: 1px solid #888;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    width: 40%; /* Could be more or less, depending on screen size */
}

/* The Modal Close Button */
.close-modal {
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.radio-input__label {
    font-size: 20px;
}

.radio-input__input {
    height:2em;
    width:2em;
}

select {
    height: 40px;
    font-size: 20px;
    font-family: "Quicksand", sans-serif; 
}

.table-like__cell--header {
    text-align: center;
}

.text-box {
   flex-wrap: nowrap;
   padding:5px;
}

.text-box__text {
    font-size:25px;
}

.text--color-alert {
    color: red !important;
}

.text--primary {
    font-size:25px;
}

.text--highlight {
    font-size:35px;
}

.text--label {
    font-size: 20px;
}

.width-auto {
    width: auto;
}

.width-max {
    width: 100%;
}

.width-half {
    width: 50%;
}
/****************************************************/
/* Positional tags and classes
 * 
 * Rules for positional classes (header, content, footer)
 * are found here.
 *
/****************************************************/

.container {
    height: 100%;
}

.content {
    height:90%;
}

.content-box {
    margin: 5px;
    padding: 5px;
}

.content-box__header {
    font-size: 25px;
}
.content-tab {
    // just for triggering GET for tab content
}

.header {
    display: flex;
    background-color: white;
    /* color: red; */
    height:10%;
    /* justify-content: space-between; */
    width: 100%;
}

.header__nav {
    height: 100%;
    width: 100%;
}

.header__nav-tab {
    align-items: center;
    /* border: 1px solid black; */
    display: flex;
    font-size: 25px;
    justify-content: center;
    padding: 10px;
}

.header__nav-tab--third {
    width: 33%;
}

.header__nav-tab:hover {
    background-color: #ba3d1e;
    color: #f9e34b;
    cursor: pointer;
}

.header__nav-tab.active {
    background-color: #1e9bba;
    cursor: pointer;
}

/* Header scroll behavior */
.sticky {
    position: fixed;
    top: 0;
    width: 100%
}

.sticky + .content {
    padding-top: 50px;
}
/**************************/

.page-content {
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 20px;

}

/****************************************************/
/* Layout classes
 * 
 * Rules for layout classes
 * are found here.
 *
/****************************************************/
/* Layout */
.l-flex--col-start {
    display: flex;
    justify-content: start;
    flex-direction: column;
}

.l-flex--col-btw {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.l-flex--col-end {
    display: flex;
    justify-content: end;
    flex-direction: column;
}

.l-flex--row-around {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
}

.l-flex--row-btw {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

.l-flex--row-start {
    display: flex;
    justify-content: start;
    flex-direction: row;
}

.l-flex--center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.l-flex {
    flex: 1;
}

/* Modifiers */
.hide {
    position: absolute;
    top: -9999px;
    left: -9999px;
}
/****************************************************/
/* Box model classes
 * 
 * Rules for box-model classes
 * are found here.
 *
/****************************************************/

 .bm-margin--sm-top {
     margin-top: 5px;
 }

 .bm-margin--md-top {
     margin-top: 15px;
 }

 .bm-margin--sm-bottom {
     margin-bottom: 5px;
 }

 .bm-margin--md-bottom {
     margin-bottom: 15px;
 }

 .bm-margin--sm-right {
     margin-right: 5px;
 }

 .bm-margin--md-right {
     margin-right: 15px;
 }

 .bm-margin--sm-left {
     margin-left: 5px;
 }

 .bm-margin--md-left {
     margin-left: 15px;
 }

 .bm-padding--md-bottom {
     padding-bottom: 15px;
 }
/****************************************************/
/* Style classes
 * 
 * Rules for style classes
 * are found here.
 *
/****************************************************/

.s-border--bottom-thin {
    border-bottom: 1px solid black;
 }

.s-border--right-thin {
    border-right: 1px solid black;
 }
